<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if @title %>
    <title><%= @title %></title>
  <% else %>
    <title>Leafii</title>
  <% end %>
  <%= favicon_link_tag '/'+action_name+'/favicon.ico' %>
  <%= stylesheet_link_tag    'application', action_name+'/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', action_name+'/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
