<!DOCTYPE html>
<html>
<head>
  <% if @title %>
    <title><%= @title %></title>
  <% else %>
    <title>Efolio!</title>
  <% end %>
  <%= stylesheet_link_tag    'application', action_name+'/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', action_name+'/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
